     /* Home Hero 1.0 */ 

     .hero_section{
        position: relative;
        background: url("../assets/images/hero/hero-1.jpg") no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 170px;
        padding-bottom: 90px;
     }

    .hero_section .price_badge{
        background: url("../assets/images/hero/price-badge-yellow.png") no-repeat center center;
        background-size: cover;
        position: absolute;
        top: -20px;
        right: 5px;
        width: 180px;
        height: 176px;
        text-align: center;
    }

    .hero_section .badge_text{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .hero_section .badge_text .h4_xs{
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1;
    }

     .hero_section .badge_text .h3_xs{
    font-size: 2.875rem;
    font-weight: 600;
    line-height: 1;
    }

    .hero_section .hero_text h1{
   font-family: var(--lilita-font);
   font-size: 7rem;
   line-height: 1;
   margin-bottom: 15px;
   letter-spacing: 3px;
    }

    
    .hero_section .hero_text h2{
   font-family: var(--lilita-font);
   font-size: 2.5rem;
   line-height: 1;
   margin-bottom: 20px;
   letter-spacing: 3px;
    }

.hero_section .hero_text p{
    padding: 0 5%;
}



/* Home About 2.0 */
.about_section{
    padding-top: 80px;
    padding-bottom: 300px;
    background: url("../assets/images/about/about-1.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
}

.about_section h2{
    font-size: 3.5rem;
}

.about_section p{
    color: var(--grey);
    padding: 20px 30px;
    font-size: 19px;
}

.about_wrapper{
    background: var(--yellow);
    padding-top: 70px;
    padding-bottom: 30px;
}

.about_box .about_icon img{
    max-width: 25%;
}

.about_box h4{
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.5008px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about_box p{
    padding: 0 20px;
}

/* Home Menu 3.0 */
.menu_section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.menu_section .card-img-top{
    transition: all 500ms ease-in-out;
}

.menu_section h2{
    font-size: 3.5rem;
    color: var(--light-red);
}

.menu_section .para{
    color: var(--grey);
    padding: 10px 100px;
    font-size: 19px;
}

.menu_section .item_rating i{
    color: var(--yellow);
    padding-right: 5px;
}

.menu_section .wishlist i{
    color: var(--grey);
    font-size: 20px;
    cursor: pointer;
}

.menu_section .wishlist i:hover{
    color: var(--light-red);
}

.menu_section .card-title{
    font-family: var(--oswald-font);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.menu_section .card-text{
    color: var(--grey);
    font-size: 15px;
}

.menu_section .menu_price{
    background-color: var(--bg-coffee);
    display: inline-block;
    padding: 7px 12px;
    border-radius: 4px;
}

.menu_section .menu_price h5{
    color: var(--yellow);
    font-size: 1rem;
}

.menu_section .add_to_card a{
    background: var(--yellow);
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    padding: 8px 14px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(100px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.menu_section .card:hover .card-img-top{
    transform: scale(1.1);
}

.menu_section .card:hover .add_to_card a{
    transform: translateY(0px);
    opacity: 1;
}

.menu_section .ads_box{
    text-align: right;
    padding: 80px 35px 50;
    border-radius: 6px;
}

.menu_section .ads_img1{
 background: url("../assets/images/menu/ads-1.jpg") no-repeat center center;
 background-size: cover;
  width: 100%;
  height: 250px;  
}

.menu_section .ads_img2{
 background: url("../assets/images/menu/ads-2.jpg") no-repeat center center;
 background-size: cover;
  width: 100%;
  height: 250px;  
}

.menu_section .ads_box h4{
/* font-size: 2.25rem; */
font-weight: 400;
color: var(--brown);
}

.menu_section .ads_box h5{
  font-size: 20px;
 color: var(--brown);
}

.menu_section .ads_box a{
    margin-top: 15px;
    font-size: 15px;
}

  
/* Home Promotion 4.0 */
.promotion_section{
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--light-grey);
}

.promotion_section h2{
    font-size: 3.25rem;
    margin-bottom: 25px;
}

.promotion_section p{
    font-size: 1.125rem;
}

.promotion_section ul{
    padding-left: 15px;
}


 /*  Home Parallax 5.0 */
 .bg_parallax_scroll{
    background: url("../assets/images/parallax/bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
 }


 /* Home Shop 6.0 */
 .shop_section{
    padding: 100px 0 0;
    background: var(--yellow);
 }

 .shop_section h4{
    font-size: 2.375rem;
    font-weight: 400;
    color: var(--bg-coffee);
 }

 .shop_section h2{
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    color: var(--bg-coffee);
 }

 .shop_section p{
    font-size: 1.25rem;
    padding-right: 10%;
    color: var(--bg-coffee);
    margin-bottom: 40px;
 }

.shop_section .store{
    max-width: 40%;
}

.shop_section .e-shop{
    text-align: center;
}


.brand_section{
    padding: 70px 0 40px;
    background: var(--light-grey);
    overflow: hidden;
}

.brand_section .brand_img{
    width: 180px;
    height: auto;
}


.Carousel.slide .Carousel-inner{
    overflow: unset;
}

.Carousel.slide .Carousel-inner .Carousel-caption{
    position: relative;
    right: unset;
    left: unset;
}


    /* Home _section */
    .blog_section{
        padding: 80px 0 50px;
        background: url("../assets/images/blog/reviews.jpg") no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        margin-top: 50px;
        overflow: hidden;
    }

     .blog_section .user_img img{
        width: 10%;
        height: 10%;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 25px;
     }


    .caraousel-content{
    text-align: center;
    color: var(--white);
    }

      .caraousel-content p{
        font-size: 1.4rem;
        line-height: 1.45;
        font-weight: 400;
        padding: 0 12%;
        margin-bottom: 25px;
      }

      .caraousel-content .item_rating{
        color: var(--yellow);
      }

    .caraousel-content h5{
        margin-bottom: 2rem;
        font-size: 1rem;
    }

    .carousel-indicators {
        position: absolute;
        top: 100%;
    }

  
    /* Media Query Mobiles */
    .contact_section{
    background: url("../assets/images/footer/banner-1.jpg") no-repeat center center; 
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    }

     .contact_section h4{
     font-size: 2.375rem;
     font-weight: 400;
     margin-bottom: 25px;
     }
    
    .contact_section h2{
        font-size: 4.5rem;
        margin-bottom: 25px;
    }

    .contact_section p{
        width: 70%;
        margin: 0 auto 30px;
    }

    .contact_section a{
   font-size: 22px;
   font-weight: 700;
    }

  

    /* Home Footer Section */
    footer{
    padding-top: 80px;
    }

    footer h5{
        color: var(--light-black);
        line-height: 1;
        margin-bottom: 25px;
    }

    footer p{
    margin-bottom: 3px;
    font-size: 1rem;
    }

    footer .calling{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--yellow);
    }

    footer ul li{
        display: inline-block;
        margin-right: 20px;
        font-size: 1.4rem;
        cursor: pointer;
    }




/* Media Query Mobiles */

@media (max-width:992px) {
   /* Home About 2.0 */
   .about_section h2{
    font-size: 2.5rem;
   }

   .about_section p{
    padding: 20px 0;
   }

   .about_box p{
    padding: 0;
   }
}

@media (max-width:767px) {
    /* Home Hero 1.0 */
    .hero_section .hero_text h1{
        font-size: 5.5rem;
    }

    /* Home Menu 3.0 */ 
    .menu_section .para{
        padding: 10px 0px;
      }


    /* Home shop 6.0 */  
    .shop_section h4{
        font-size: 1.8rem;
    }

    .shop_section h2{
        font-size: 3.75rem;
    }

    .brand_section{
        padding: 50px 0 10px;
    }

    .brand_section .brand_img{
        width: 70px;
        height: auto;
    }
}


    @media (max-width:1200px) {
  /* Home Promotion 4.0 */
  .promotion_section h2{
    font-size: 2.25rem;
  }

  /* Home Parallax 5.0 */
  .bg_parallax_scroll{
    background-attachment: scroll;
    height: 500px;
  }
    }


     /* Home Section 7.0 */
@media (max-width: 320px) {
  /* very small mobile */
    .contact_section{
    background: url("../assets/images/footer/banner-1.jpg") no-repeat center center; 
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    }

     .contact_section h2{
    font-size: 3.5rem;
     }

     .contact_section p{
        width: 100%;
}
}
/* 
  FIRST PARALLAX */
@media (max-width:365){
     .bg_parallax_scroll{
    background: url("../assets/images/parallax/bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    width: 50%;
    height: 700px;
 }
}




/* Mobile: one below other */
@media (max-width: 768px) {
 .menu_section .ads_row {
    flex-direction: column !important; /* stack columns vertically */
  }

  
}







